<template>
    <q-page class="q-pa-md">
        <div class="q-gutter-md">
          <q-card
            class="q-ma-md q-pa-md"
            style="border-radius: 10px; max-width: 600px; margin: 0 auto;"
          >
            <q-card-section class="q-pa-md">
              <div class="titulo" style="display: flex; align-items: center; justify-content: center; margin-bottom: -50px;">
                <h4 class="text-h4 text-center">Adoção Responsável</h4>
                <img
                  src="heart.png"
                  alt="Mãos Pet"
                  style="height: 16px; width: 16px; margin: 0 15px;"
                />
              </div>
              <h5 class="text-h5 text-center" style="margin-bottom: -50px;">O que você precisa saber e levar em conta antes de adotar</h5>
              <h6 class="text-h6 text-center"></h6>
            </q-card-section>
            <q-card-section class="q-pa-md">
              <div class="text-center">
                <q-card-section class="q-pa-md">
              <div class="text-center">
                <img
                  src="PetAdocao.png"
                  alt="Mãos Pet"
                  style="max-width: 70%; height: auto;"
                />
              </div>
              <p class="text-p text-center" style="margin: 20px 0;">Além do espaço, um animal demanda tempo. Por isso, reflita: você terá um horário livre para se dedicar? Animais precisam de atenção, cuidados, carinho e a prática regular de exercícios físicos. Sendo assim, você precisará reservar algumas horas do seu dia para fazer passeios, brincadeiras e afagos nele!</p>
            </q-card-section>
      <q-form
        @submit="onSubmit"
      >
    </q-form>
        <div id="q-app">
    <q-card class="q-ma-sm " style="max-width: 300px">
    </q-card>
  </div>
  </div>
        <div style="display: flex; justify-content: space-between;">
          <q-btn style="margin: auto; margin-left: 55%;" label="Seguir para o formulário" type="submit" color="primary" href="https://forms.gle/KpmHy9KA5qs5buNb6" target="_blank"/>
        </div>
        </q-card-section>
      </q-card></div>
    </q-page>
  </template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    const form = ref({
      nome: '',
      email: '',
      comentario: '',
      whatsapp: '',
      Telefone: ''
    })

    return {
      form
    }
  }
}
</script>
