<template>
  <q-page class="q-pa-md">
      <div class="q-gutter-md">
        <q-card
          class="q-ma-md q-pa-md"
          style="border-radius: 35px; max-width: 600px; margin: 0 auto; top: 15px; margin-bottom: 30px;">

          <!-- CARD INÍCIO -->
          <q-card-section class="q-pa-md">
            <div class="container">
            <div class="text-center">
              <img
                src="https://uploaddeimagens.com.br/images/004/668/647/full/PngItem_321866.png"
                alt="Imagem inicial"
                style="max-width: 100%; margin-bottom: -5%;"
              />
            </div>
            <div class="background-titulo">
            <h5 id="titulo-pagina" class="text-h5 text-uppercase text-center text-weight-medium">Ajude nossa causa!</h5>
            </div></div>
            </q-card-section>
          <!-- <\CARD INÍCIO> -->
        <div class="conteudo">
           <!-- <TEXTO> -->
            <q-row class="q-mb-md">
                <q-col>
                  <h6 class="text-h6 text-uppercase"> Sobre o projeto</h6>
                  <p class="text-body1">
                  O SOS CARAMELO é um projeto desenvolvido com o objetivo de enfrentar um problema grave em nossa sociedade:
                  o abandono de animais. De acordo com estimativas da Organização Mundial da Saúde (OMS), em 2022, aproximadamente
                  30 milhões de animais estavam abandonados nas ruas do Brasil. A proposta do SOS CARAMELO é estabelecer um canal
                  que permita o registro de animais em situação de abandono, vulnerabilidade ou disponíveis para adoção. Dessa forma,
                  o projeto atua como uma ponte entre esses animais e indivíduos dispostos a ajudá-los.
                  </p>

                  <h6 class="text-h6 text-uppercase"> Como contribuir</h6>
                  <p class="text-body1">
                  Ao contribuir para a causa do SOS CARAMELO, você estará desempenhando um papel vital na proteção e no cuidado dos animais
                  abandonados. Existem diversas maneiras pelas quais você pode se envolver e fazer a diferença, entre elas:</p>
                  <h6 class="text-subtitle2"> Adoção Responsável: </h6>
                  <p class="text-body1">
                  Ao considerar a adoção de um animal de estimação, escolha a opção de adoção responsável.
                  O SOS CARAMELO fornece informações sobre animais disponíveis para adoção, permitindo que você encontre o
                  companheiro perfeito para sua família. </p>
                  <h6 class="text-subtitle2"> Divulgação nas Redes Sociais: </h6>
                  <p class="text-body1">
                  Compartilhe informações sobre o SOS CARAMELO e seus objetivos em suas redes sociais.
                  A conscientização é fundamental para aumentar o alcance do projeto e sensibilizar mais pessoas sobre a importância
                  de combater o abandono de animais. </p>
                  <h6 class="text-subtitle2"> Voluntariado: </h6>
                  <p class="text-body1">
                  Se possível, torne-se um voluntário no SOS CARAMELO, seja ajudando na manutenção, cuidado direto dos animais ou
                  em atividades de divulgação, seu tempo e esforço farão a diferença. </p>
                  <br>
                  <p class="text-body1 text-center">
                  Junte-se a esta missão de amor tornando-se parte deste movimento. Visite a seção "Fale Conosco" ou clique em "Contribuir" e complete todos os campos disponíveis.
                  No campo "Qual sua dúvida", por favor, forneça detalhes sobre como você pretende contribuir conosco.
                  <br><br>Estamos ansiosos para receber o seu apoio e colaboração.
                  </p>
                </q-col>
            </q-row>
            </div>
            <!-- <BOTÃO> -->
            <q-card-section class="q-pa-md">
            <div class="text-center botao-contribuir">
              <a href="//localhost:9000/#/Fale-Conosco">
              <img
                src="https://uploaddeimagens.com.br/images/004/668/648/full/PngItem_3908188.png"
                alt="Contribuir"
                style="width: 7%; background-color: #E9D2D242; margin-bottom: -7px; margin-top: -35px; border-radius: 10px;" /></a>
                <h6 style="font-size: 15px; margin: 0px auto; margin-bottom:5px; text-weight-thin">CONTRIBUIR</h6>
              </div>
            </q-card-section>

        </q-card>
      </div>
  </q-page>
  </template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AjudeNossaCausa'
})
</script>

<style lang="sass" scoped>

.background-titulo
    background-color: #FFFFFF
    border-radius: 20px
    padding: 5px
    margin: 3%

#titulo-pagina
    font-size: clamp(1em, 1em + 1vw, 1.5em)
    font-family: monospace
    color: #3d0800
    letter-spacing: 1px
    line-height: 15px
    margin: 0 auto
    padding: 18px

.container
    position: relative
    background-color: #E9D2D242
    border-radius: 35px
    margin-bottom: 5px
    padding-top: 15px
    height: auto
    padding-left: 7px
    padding-bottom: 15px

.text-h6
    font-size: 17px
    letter-spacing: 1px
    line-height: 15px
    margin-bottom: 25px

.text-subtitle2
    font-size: 15px
    letter-spacing: 1px
    line-height: 15px
.text-body1
    font-size: 14px
    letter-spacing: 1px

.conteudo
    margin-top: -10px
    margin-left: 15px
    padding: 5px

.botao-contribuir
    transition: all 0.7s
    cursor: pointer
    opacity: 0.9

.botao-contribuir:hover
    -webkit-transform: scale(1.5)
    transform: scale(1.1)
    opacity: 1
</style>
