<template>
  <q-page class="q-pa-md">
      <div class="q-gutter-md">
        <q-card
          class="q-ma-md q-pa-md"
          style="border-radius: 35px; max-width: 600px; margin: 0 auto; top: 15px; margin-bottom: 30px;"
        >
          <q-card-section class="q-pa-md">
            <div class="container">
            <div class="text-center">
              <img
                src="https://uploaddeimagens.com.br/images/004/662/878/full/PngItem_5690930-removebg.png"
                alt="Imagem inicial"
                style="max-width: 90%; margin-bottom: -5%;"
              />
            </div>
            <div class="background-titulo">
            <h5 id="titulo-pagina" class="text-h5 text-uppercase text-center text-weight-medium">Conscientize-se!</h5>
            </div>
            </div>
            <div class="q-pa-md example-row-horizontal-alignment background-color:#DEC7C0">
            <!-- CARD 1 -->
            <div class="row row justify-around">
            <div class="col-*" style="margin-top: 10px">
            <q-card class="my-card bg-secondary text-white">
            <q-card-section>
              <div class="text-h6 text-uppercase" style="font-size: 17px;">Abandono e maus-tratos</div>
              <br>
              <p>O Abandono e maus-tratos a animais é uma questão grave que necessita de atenção. Estimativas da Organização mundial da saúde (OMS),
                indicam que no ano de 2022, existiam cerca de 30 milhões de animais abandonados nas ruas do Brasil, cujo estes foram deixados sozinhos
                e desamparados, seja em locais públicos, estradas, abrigos ou mesmo em casa, sem cuidados adequados, estes animais frequentemente
                enfrentam fome, desidratação, doenças, riscos de atropelamento, além de sofrimento emocional. Apesar de ser considerado crime previsto
                pelo artigo 32 da lei nº 9.605, com alteração da lei nº 14.064/2020, muitos animais ainda são abandonados e sofrem maus-tratos. As formas
                de maus-tratos podem variar, desde violência direta, como espancamento, envenenamento e queimaduras, até negligência, como a falta de cuidados
                veterinários adequados, abrigo inadequado e falta de alimentação e água. Combater o abandono e maus-tratos a animais é essencial, pois os animais
                são seres vivos e merecem serem tratados com respeito, dignidade e amor.</p>
            </q-card-section>
            <q-separator dark />

            <q-card-actions>
              <a href="https://www.jusbrasil.com.br/artigos/ja-conhece-a-lei-sansao/935886353" target="_blank" rel="Abandono e maus-tratos" style="color: white;">
              <q-btn flat>Saiba mais</q-btn></a>
            </q-card-actions>
            </q-card>
            </div>
            <!-- CARD 2 -->
            <div class="col-*" style="margin-top: 10px">
            <q-card class="my-card bg-secondary text-white">
            <q-card-section>
            <div class="text-h6 text-uppercase" style="font-size: 17px;">Benefícios da adoção</div>
            <br>
              <p>Adotar um animal de estimação pode ser benéfico não apenas para os animais, mas também para a saúde e o bem-estar dos adotantes.
                Estudos indicam que a presença de animais de estimação podem trazer benefícios significativos para a saúde mental e emocional dos
                seus tutores. Ter um animal de estimação pode reduzir o estresse, a ansiedade e a depressão, a interação com animais de estimação
                pode liberar hormônios de bem-estar, como a oxitocina, e reduzir os níveis de cortisol, um hormônio do estresse. Ter um animal de
                estimação também é benéfico para as crianças, ensinando importantes lições de responsabilidade, empatia e cuidado. Os animais também
                podem agir como terapeutas naturais, proporcionando alívio do estresse e conforto emocional.</p>
            </q-card-section>
            <q-separator dark />

            <q-card-actions>
              <a href="https://www.unimedvtrp.com.br/blog/animais-de-estimacao-ajudam-o-dono-a-ser-menos-estressado-e-mais-saudavel/" target="_blank" rel="Benefícios da adoção" style="color: white;">
              <q-btn flat>Saiba mais</q-btn></a>
            </q-card-actions>
            </q-card>
          </div>
            <!-- CARD 3 -->
            <div class="col-*" style="margin-top: 10px">
            <q-card class="my-card bg-secondary text-white">
            <q-card-section>
            <div class="text-h6 text-uppercase" style="font-size: 17px;">Adoção responsável</div>
            <br>
              <p>Adotar é assumir um compromisso de cuidar do animal ao longo de sua vida, prezando pela sua segurança e bem-estar. Antes de levar
                um amigo para casa é importante avaliar sua capacidade de atender às necessidades do animal, pois cada espécie e raça tem características
                diferentes, por isso analise seu estilo de vida, espaço necessário, recursos financeiros e o compromisso que será necessário. Ao adotar um
                animal é importante prezar pelos cuidados com a sua saúde, o que inclui visitas regulares ao veterinário, vacinas e tratamento de parasitas,
                além da esterilização para evitar a reprodução não planejada. Ademais, é recomendado uma dieta equilibrada e adequada para a espécie e raça
                do animal. Esteja ciente da responsabilidade que irá assumir e faça um compromisso de nunca abandonar seu animal, independentemente das
                circunstâncias. Os animais merecem a oportunidade de viver vidas saudáveis, felizes e seguras com suas famílias adotivas, quando você adota,
                está escrevendo o início de uma história de amor incondicional, entregue seu coração a ele e ele o entregará o dele de volta. Salve uma vida
                e ganhe um amigo!</p>
            </q-card-section>
            <q-separator dark />

            <q-card-actions>
              <a href="https://www.fundacaorenova.org/wp-content/uploads/2016/10/Cartilha_Adocao-Reponsavel.pdf" target="_blank" rel="Adoção responsável" style="color: white;">
              <q-btn flat>Saiba mais</q-btn></a>
            </q-card-actions>
            </q-card>
            </div>
            <!-- FIM CARD 3 -->
           </div></div>
            </q-card-section>
            <q-card-section class="q-pa-md">
            <div class="container">
            <h6 id="frase1" class="text-h6 text-uppercase text-left">Adotar um animal é uma decisão que muda vidas - a vida deles e a sua.</h6>
            <div class="text-center">
              <img
                src="https://uploaddeimagens.com.br/images/004/662/879/full/PngItem_2979643.png"
                alt="Imagem final"
                style="max-width: 50%; margin-top: -10%"/>
            </div>
            <div class="background-frase2">
            <h6 id="frase2" class="text-h6 text-uppercase text-center">Salve uma vida e ganhe um amigo.</h6>
            </div>
            </div>
            </q-card-section>
            <q-card-section class="q-pa-md">
            <div class="text-center botao-adotar">
              <a href="//localhost:9000/#/Mapa">
              <img
                src="https://uploaddeimagens.com.br/images/004/662/883/full/PngItem_3930614.png"
                alt="Icon resgatar"
                style="width: 7%; background-color: #E9D2D242; margin: 0 auto; margin-top: -35px; border-radius: 10px;" /></a>
                <h6 style="font-size: 19px; margin: 0px auto; margin-bottom:5px; text-weight-thin">RESGATAR</h6>
              </div>
            </q-card-section>
          </q-card>
          </div>
      </q-page>
  </template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ConscientizeSe'
})
</script>

<style lang="sass" scoped>

.background-titulo
    background-color: #FFFFFF
    border-radius: 20px
    padding: 5px
    margin: 0 auto
    margin-left: 10%
    margin-right: 10%

#titulo-pagina
    font-size: clamp(1em, 1em + 1vw, 1.5em)
    font-family: monospace
    color: #3d0800
    letter-spacing: 1px
    line-height: 15px
    margin: 0 auto
    padding: 18px

.my-card
  width: 95%
  max-width: auto
  height: 350px
  margin: 0 auto
  border-radius: 20px
  overflow-y: scroll
  background-color: #DEC7C0

.container
    position: relative
    background-color: #E9D2D242
    border-radius: 35px
    margin-bottom: 5px
    padding-top: 15px
    height: auto
    padding-left: 7px
    padding-bottom: 15px

#frase1
    font-size: 13px
    color: #3d0800
    letter-spacing: 1px
    line-height: 15px
    margin-left: 10px
    margin-top: 15px
    width: 150px

#frase2
    font-size: 12px
    color: #3d0800
    letter-spacing: 1px
    line-height: 15px
    width: 150px
    margin: 0 auto

.background-frase2
    background-color: #FFFFFF
    border-radius: 20px
    padding: 7px
    margin: 0 auto
    margin-left: 15%
    margin-right: 15%

.botao-adotar
    transition: all 0.7s
    cursor: pointer
    opacity: 0.9

.botao-adotar:hover
    -webkit-transform: scale(1.5)
    transform: scale(1.1)
    opacity: 1
</style>
