<template>
  <q-page class="q-pa-md">
      <div class="q-gutter-md">
        <q-card
          class="q-ma-md q-pa-md"
          style="border-radius: 20px; max-width: 600px; margin: 0 auto;"
        >
<q-card-section class="q-pa-md">
            <h3 class="text-h3 text-center">Denuncie! Não se Cale!</h3>
          </q-card-section>
    <h6 style="text-align: center;">A principal lei que protege os animais é a Lei Federal 9.605/98, conhecida como Lei dos Crimes Ambientais:
Art. 32 – Praticar ato de abuso, maus-tratos, ferir ou mutilar animais silvestres, domésticos ou domesticados, nativos ou exóticos.

A pena será de 3 meses a 1 ano de prisão e multa, aumentada de 1/6 a 1/3 se ocorrer a morte do animal.</h6>
<q-card-section class="q-pa-md">
            <div class="text-center">
              <img
                src="https://st3.depositphotos.com/9782616/18911/v/450/depositphotos_189111410-stock-illustration-animal-dog-paw-people-hand.jpg"
                alt="Juntos pela Causa - Mãos e Patas levantadas"
                style="max-width: 50%; height: auto;"
              />
            </div><br>
</q-card-section>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="form.name"
        label="Digite Seu Nome Completo*"
        hint="Nome e Sobrenome"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Não deixe este campo em branco']"
      />
      <q-input
        filled
        type="email"
        v-model="form.email"
        label="Digite Seu E-mail*"
        hint="Digite seu endereço de e-mail completo. Ex: contato@123.com"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Não deixe este campo em branco']"
      />

    <q-input
        filled
        v-model="form.endereco"
        label="Endereço*"
        hint="Do local da denuncia ou agressor a ser reportado."
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Não deixe este campo em branco']"
        maxLength={100}
      />
      <q-input
        filled
        v-model="form.caracteristica"
        label="Característica, descrição da denúncia*"
        hint="Conte os fatos com detalhes, se for algo recorrente, anote datas e horários."
        maxLength={500}
      />
      <q-input label="Envie uma imagem"  outlined>
      <input type="file" @change="selecionarImagem" accept="image/*" />
      </q-input>
      <!-- Exibição da imagem selecionada (opcional) -->
      <div v-if="form.imagemDenuncia">
      <img :src="form.imagemDenuncia" alt="Imagem Selecionada" />
      </div>
      <div>
        <q-btn label="Enviar" type="submit" color="primary"/>
        <q-btn label="Apagar" type="reset" color="primary" flat class="q-ml-sm" @click="apagarform()"/>
      </div>
    </q-form>
        </q-card>
      </div>
  </q-page>
  </template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    const form = ref({
      name: '',
      email: '',
      endereco: '',
      caracteristica: '',
      imagemDenuncia: ''
    })
    return {
      form
    }
  },
  methods: {
    apagarform () {
      // Limpe as propriedades do chamado em edição
      this.form.name = ''
      this.form.email = ''
      this.form.endereco = ''
      this.form.caracteristica = ''
      this.form.imagemDenuncia = ''
    }
  }
}
</script>
