<template>
  <q-page class="q-pa-md">
      <div class="q-gutter-md">
        <q-card
          class="q-ma-md q-pa-md"
          style="border-radius: 20px; max-width: 600px; margin: 0 auto;"
        >
          <q-card-section class="q-pa-md">
            <h4 class="text-h4 text-center">Entre em contato através dos campos abaixo:</h4>
          </q-card-section>
          <q-card-section class="q-pa-md">
            <div class="text-center">
              <q-card-section class="q-pa-md">
            <div class="text-center">
              <img
                src="https://i.pinimg.com/originals/8e/e3/33/8ee333af01911a01ae752edf07fc8b1f.png"
                alt="Mãos Pet"
                style="max-width: 50%; height: auto;"
              />
            </div>
          </q-card-section>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="form.nome"
        label="Seu Nome Completo *"
        hint="Nome e sobrenome"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor digite algo']"
      />
      <q-input
        filled
        v-model="form.email"
        label="Seu email *"
        hint="Seu email"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor digite algo']"
      />
      <q-input
        filled
        type="texto"
        v-model="form.duvida"
        label="Qual sua dúvida *"
        hint="Qual é sua dúvida"
        lazy-rules
        :rules="[ val => val !== null && val !== '' || 'Descreva sua dúvida',
          val => val && val.length > 10 || 'Por favor, descreva sua dúvida! (min 10 letras)' ]"
    ></q-input>
  </q-form>
    <q-input
      v-model="phone"
      label="Telefone *"
      hint="Informe o número"
      mask="(##)-#####-####"
      placeholder="(##)-#####-####"
    />
      <div id="q-app">
  <q-card class="q-ma-sm " style="max-width: 300px">
  </q-card>
</div>
</div>
      <div>
        <q-btn label="Enviar" type="submit" color="primary"/>
        <q-btn label="Limpar" color="primary" flat class="q-ml-sm" @click="limparform()" /></div>
      </q-card-section>
    </q-card></div>
  </q-page>
</template>

<script>
import { ref } from 'vue'

export default {
  setup () {
    const form = ref({
      nome: '',
      email: '',
      duvida: '',
      phone: ''
    })
    return {
      form
    }
  },
  methods: {
    limparform () {
      // Limpe as propriedades do chamado em edição
      this.form.nome = ''
      this.form.email = ''
      this.form.duvida = ''
      this.form.phone = ''
    }
  }
}
</script>
