<template>
  <q-page class="q-pa-md">
      <div class="q-gutter-md">
        <q-card
          class="q-ma-md q-pa-md"
          style="border-radius: 20px; max-width: 600px; margin: 0 auto;"
        >
          <q-card-section class="q-pa-md">
            <h2 class="text-h2 text-center">Sobre Nós</h2>
          </q-card-section>

          <q-card-section class="q-pa-md">
            <div class="text-center">
              <img
                src="https://www.amoviralata.com/wp-content/uploads/2019/05/cao-abandonado.jpg"
                alt="Animal Abandonado"
                style="max-width: 100%; height: auto;"
              />
            </div>
            <br><br>
            <p class="text-h6 text-center">Nós da SOS Caramelo somos um grupo de novos desenvolvedores cansados de ver tanta tristeza nas ruas que se uniu para criar um aplicativo que pudesse sanar, ou ao menos ajudar, um problema social chamado: abandono e maus tratos de animais.</p>
            <p class="text-h6 text-center">Pensando nesta dor que não acomete apenas a nós mas a toda nossa sociedade, resolvemos desenvolver o APP SOS CARAMELO, onde juntos podemos localizar, informar, resgatar e salvar muitos animais que se encontram em situação de abandono, maus tratos ou perdidos! </p>
          </q-card-section>

          <q-card-section class="q-pa-md">
            <div class="text-center">
              <img
                src="https://www.petz.com.br/blog/wp-content/uploads/2016/11/adotarcaocidadao01-1280x720.jpg"
                alt="Animal Abandonado2"
                style="max-width: 100%; height: auto;"
              />
            </div>
          </q-card-section>

          <q-card-actions class="q-pa-md">
            Sozinhos, nem mesmo nós humanos podemos encontrar o verdadeiro significado de companheirismo, amizade ou amor. Ajude, Denuncie, Salve, Resgate! Faça parte desta corrente!
          </q-card-actions>
          <q-card-section class="q-pa-md">
            <div class="text-center">
              <img
                src="https://blog.polipet.com.br/wp-content/uploads/2022/10/AdobeStock_167618810-1110x508.jpeg"
                alt="Animal Abandonado2"
                style="max-width: 100%; height: auto;"
              />
            </div>
          </q-card-section>
        </q-card>
      </div>
  </q-page>
</template>

<script>
export default {
  name: 'SobreNos'
}
</script>
