<template>
  <div class="q-pa-md">
    <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      :autoplay="autoplay"
      arrows
      transition-prev="slide-right"
      transition-next="slide-left"
      @mouseenter="autoplay = false"
      @mouseleave="autoplay = true"
    >
      <q-carousel-slide
        :name="1"
        img-src="https://coisasdojapao.com/wp-content/uploads/2017/12/Animais-abandonados-Jap%C3%A3o.jpg"
      >
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Resgate um Amigo</div>
          <div class="text-subtitle1"></div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide
        :name="2"
        img-src="https://i1.wp.com/gatinhobranco.com/wp-content/uploads/2016/06/3356955429_6bdfea3534_b.jpg?fit=1024%2C683"
      >
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Salve um Amigo</div>
          <div class="text-subtitle1"></div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide
        :name="3"
        img-src="https://cdn.vidaativa.pt/uploads/2019/11/765_360_a-woman-holding-the-paw-of-a-chocolate-labrador-retriever-outdoo_1522940352.jpg.jpg"
      >
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Acolha um Amigo</div>
          <div class="text-subtitle1"></div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide
        :name="4"
        img-src="https://caesegatos.com.br/wp-content/uploads/2022/09/resgate-2.png"
      >
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Adote um Amigo</div>
          <div class="text-subtitle1"></div>
        </div>
      </q-carousel-slide>
    </q-carousel>
  </div>
  <!--- CARD CHAMADOS -->
  <div class="row">
    <div
      class="q-col-lg-4 q-col-md-4 q-col-sm-6 q-col-12"
      v-for="item in listaDeItens"
      :key="item.id"
    >
      <q-card class="my-card" flat bordered>
        <q-img :src="item.imagemChamado" class="imagem-card" />
        <q-card-section>
          <div class="text-overline text-orange-9">
            Tipo de Animal: <b>{{ item.tipoAnimal }}</b>
          </div>
          <div class="text-h5 q-mt-sm q-mb-xs">
            Tipo de Ajuda: <b>{{ item.tipoChamado }}</b>
          </div>
          <div class="text-caption text-grey">
            Este Chamado foi feito apartir desta daqui! <br />
            <b>Descrição :</b> {{ item.descricao }} <br />
            <b>Endereço :</b> {{ item.enderecoChamado }}
          </div>
        </q-card-section>
        <q-card-actions>
          <q-btn
            flat
            color="primary"
            label="Obter Rota"
            @click="obterRota(item.latitudeChamado, item.longitudeChamado)"
          />
          <q-btn flat color="secondary" label="Registrar Resgate!" />
          <q-space />
          <q-btn
            color="grey"
            round
            flat
            dense
            :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="expanded = !expanded"
          />
        </q-card-actions>

        <q-slide-transition>
          <div v-show="expanded">
            <q-separator />
            <q-card-section class="text-subtitle2">
              {{ lorem }}
            </q-card-section>
          </div>
        </q-slide-transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  setup () {
    return {
      slide: ref(1),
      autoplay: ref(true),
      listaDeItens: [],
      expanded: ref(false)
    }
  },
  mounted () {
    this.obterDadosDaAPI()
  },
  methods: {
    obterDadosDaAPI () {
      try {
        // Faça uma solicitação GET com o Axios para obter dados da API
        const response = api.get('chamados/listar-todos')
        // Atribua os dados à listaDeItens
        this.listaDeItens = response.data
      } catch (error) {
        console.error('Erro ao buscar dados da API:', error)
      }
    },
    obterRota (latitude, longitude) {
      const url = `https://www.google.com/maps/dir/?api=1&destination=${latitude},${longitude}`
      window.open(url, '_blank')
    }
  }
}
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: slide-left
  padding: 5px
  color: white
  width: 20%
  background-color: rgba(0, 0, 0, .3)
.my-card
  width: 100%
  max-width: 350px
</style>

<style>
.imagem-card {
  max-width: 100%;
  max-height: 300px; /* Ajuste o valor máximo desejado */
}
</style>
