<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-white text-grey-8 q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title v-if="$q.screen.gt.xs" shrink class="row items-center no-wrap">
          <img style="width: 60px; height: 60px" src="https://cdn.icon-icons.com/icons2/2225/PNG/512/puppy_icon_134477.png">
          <span class="q-ml-sm texto_logo">SoS Caramelo Painel Adm</span>
        </q-toolbar-title>

        <q-space />

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap"></div>
          <q-btn round flat>
            <q-avatar size="26px">
              <img src="https://static-00.iconduck.com/assets.00/profile-major-icon-512x512-xosjbbdq.png">
            </q-avatar>
            <q-tooltip>Login</q-tooltip>
          </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-2"
      :width="240"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item-label header class="text-weight-bold text-uppercase">
            CHAMADOS
          </q-item-label>
          <q-item v-for="link in links1" :key="link.text" v-ripple clickable @click="redirecionar(link.name)">
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-xs" />

          <q-item-label header class="text-weight-bold text-uppercase">
            CADASTRO DE ANIMAIS
          </q-item-label>

          <q-item v-for="link in links2" :key="link.text" v-ripple clickable @click="redirecionar(link.name)">
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-xs" />

          <q-item-label header class="text-weight-bold text-uppercase">
            UTILIDADE PÚBLICA
          </q-item-label>

          <q-item v-for="link in links3" :key="link.text" v-ripple clickable @click="redirecionar(link.name)">
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <div class="q-px-md text-grey-9">
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
              <a
                v-for="button in buttons1"
                :key="button.text"
                class="YL__drawer-footer-link"
                href="javascript:void(0)"
              >
                {{ button.text }}
              </a>
            </div>
          </div>
          <div class="q-py-md q-px-md text-grey-9">
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
              <a
                v-for="button in buttons2"
                :key="button.text"
                class="YL__drawer-footer-link"
                href="javascript:void(0)"
              >
                {{ button.text }}
              </a>
            </div>
          </div>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { fabYoutube } from '@quasar/extras/fontawesome-v6'

export default {
  name: 'MyLayout',

  setup () {
    const leftDrawerOpen = ref(false)
    const router = useRouter()

    function toggleLeftDrawer () {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }

    function redirecionar (name) {
      router.push(name) // Redireciona para o URL desejado usando o Vue Router do Quasar
    }

    return {
      fabYoutube,
      leftDrawerOpen,
      redirecionar,
      toggleLeftDrawer,

      links1: [
        { icon: 'sms_failed', text: 'Denuncias', name: 'dashboard' },
        { icon: 'local_hospital', text: 'Resgate' },
        { icon: 'favorite', text: 'Adoção' }
      ],

      links2: [
        { icon: 'pets', text: 'Tipos de Animais', name: 'tiposanimais' },
        { icon: 'navigate_next', text: 'Tipos de Categorias', name: 'tiposcategorias' },
        { icon: 'navigate_next', text: 'Idades', name: 'idadeanimais' }
      ],
      links3: [
        { icon: 'perm_phone_msg', text: 'Telefones e Endereços' },
        { icon: 'loyalty', text: 'ONGs' }
      ]
    }
  }
}
</script>

<style lang="sass">
.YL

  &__toolbar-input-container
    min-width: 100px
    width: 55%

  &__toolbar-input-btn
    border-radius: 0
    border-style: solid
    border-width: 1px 1px 1px 0
    border-color: rgba(0,0,0,.24)
    max-width: 60px
    width: 100%

  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem

    &:hover
      color: #000
</style>
