<!-- eslint-disable no-unused-vars -->
<template>
  <q-page padding>
    <q-table
      title="Idades dos Animais"
      :rows="dados"
      :columns="columns"
      row-key="name"
    >
      <template v-slot:body-cell-acoes="props">
        <q-td :props="props">
          <q-btn icon="edit" @click="editarItem(props.row)"></q-btn>
          <q-btn icon="delete" @click="excluirItem(props.row)"></q-btn>
        </q-td>
      </template>
      <template v-slot:top-right>
        <q-btn
          label="Novo"
          icon="add"
          color="green"
          @click="criarItem()"
        ></q-btn>
      </template>
    </q-table>
    <q-dialog v-model="mostrarModalEdicao" maximized>
      <q-card>
        <q-card-section>
          <q-card-title class="text-h6">Editar Idade</q-card-title>
        </q-card-section>
        <q-card-main>
          <!-- Formulário de edição aqui -->
          <q-input
            label="Idade"
            v-model="idadeParaEdicao.idadeAnimal"
          ></q-input>
          <hr />
        </q-card-main>
        <q-card-actions align="right">
          <q-btn label="Cancelar" color="primary" @click="fecharModalEdicao" />
          <q-btn label="Salvar" color="positive" @click="salvarEdicao" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="mostrarModalCriar">
      <q-card>
        <q-card-section>
          <q-card-title class="text-h6">Criar Idade</q-card-title>
        </q-card-section>
        <q-card-main>
          <!-- Formulário de edição aqui -->
          <q-input
            label="Idade"
            v-model="idadeParaCriacao.idadeAnimal"
          ></q-input>
        </q-card-main>
        <q-card-actions align="right">
          <q-btn label="Cancelar" color="primary" @click="fecharModalCriacao" />
          <q-btn label="Salvar" color="positive" @click="salvarItem" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { api } from 'boot/axios'

const jwtToken = localStorage.getItem('jwtToken')

const columns = [
  {
    name: 'idadeAnimal',
    required: true,
    label: 'Idade',
    align: 'left',
    field: (row) => row.idadeAnimal,
    sortable: true
  },
  {
    name: 'createdAt',
    required: true,
    label: 'Criado em:',
    align: 'left',
    field: (row) => row.createdAt,
    sortable: true
  },
  {
    name: 'updatedAt',
    required: true,
    label: 'Atualizado em:',
    align: 'left',
    field: (row) => row.updatedAt,
    sortable: true
  },
  {
    name: 'acoes',
    required: true,
    label: 'Ações',
    align: 'center',
    field: 'acoes',
    format: (value, item) => {
      // Use um formato personalizado para a coluna de ações
      return `
              <q-btn icon="edit" @click="editarItem(${JSON.stringify(
                item
              )})"></q-btn>
              <q-btn icon="delete" @click="excluirItem(${JSON.stringify(
                item
              )})"></q-btn>
            `
    }
  }
]

export default defineComponent({
  data () {
    return {
      mostrarModalEdicao: false, // Mostrar ou ocultar o modal de edição
      mostrarModalCriar: false, // Mostrar ou ocultar o modal de criar
      idadeParaEdicao: {
        // Defina as propriedades aqui
        idadeAnimal: ''
        // Adicione outros campos de edição aqui
      },
      idadeParaCriacao: {
        // Defina as propriedades do chamado em edição aqui
        idadeAnimal: ''
        // Adicione outros campos de edição aqui
      },
      // RECUPERA ID PARA EDITAR
      varteste: {
        id: ''
      },
      dados: [], // Dados da tabela
      columns, // Colunas da tabela
      tipos: []
    }
  },
  mounted () {
    this.carregarDadosDaAPI()
  },
  methods: {
    carregarDadosDaAPI () {
      // Faça uma solicitação GET para a API para obter os dados da tabela
      api
        .get('animais/tipos/listar-todos')
        .then((response) => {
          // Configure os dados da tabela
          this.dados = response.data
        })
        .catch((error) => {
          console.error('Erro ao buscar dados da tabela:', error)
        })
    },
    editarItem (item) {
      // Preencha os detalhes da idade em edição com os dados do item selecionado
      this.idadeParaCriacao.idadeAnimal = item.nomeIdade
      this.varteste.id = item.id

      // Abra o modal de edição
      this.mostrarModalEdicao = true
    },
    fecharModalCriacao () {
      this.idadeParaCriacao.idadeAnimal = ''
      this.mostrarModalCriar = false
    },
    criarItem () {
      // Preencha os detalhes do animal em edição com os dados do item selecionado
      this.mostrarModalCriar = true
    },
    salvarItem () {
      const axiosConfig = {
        headers: {
          Authorization: `Bearer ${jwtToken}`
        }
      }
      // Execute aqui a lógica para salvar as edições da idade
      // Por exemplo, faça uma solicitação PUT para a API para atualizar
      api
        .post(
          `chamados/atualizar/${this.varteste.id}`,
          this.idadeParaCriacao,
          axiosConfig
        )
        .then((response) => {
          // Atualize os dados na tabela após a edição
          const index = this.dados.findIndex((d) => d.id === response.data.id)
          if (index !== -1) {
            this.dados.splice(index, 1, response.data)
          }
          window.alert('Edição Feita Com Sucesso!!')
          // Feche o modal de edição
          this.fecharModalCriacao()
        })
        .catch((error) => {
          console.error('Erro ao salvar Criação:', error)
        })
    },
    salvarEdicao () {
      // Configuração da solicitação com o cabeçalho de autorização JWT
      const axiosConfig = {
        headers: {
          Authorization: `Bearer ${jwtToken}`
        }
      }
      // Execute aqui a lógica para salvar as edições do animal
      // Por exemplo, faça uma solicitação PUT para a API para atualizar
      api
        .patch(
          `chamados/atualizar/${this.varteste.id}`,
          this.idadeParaEdicao,
          axiosConfig
        )
        .then((response) => {
          // Atualize os dados na tabela após a edição
          const index = this.dados.findIndex((d) => d.id === response.data.id)
          if (index !== -1) {
            this.dados.splice(index, 1, response.data)
          }
          window.alert('Edição Feita Com Sucesso!!')
          // Feche o modal de edição
          this.fecharModalEdicao()
        })
        .catch((error) => {
          console.error('Erro ao salvar edição:', error)
        })
    },
    fecharModalEdicao () {
      // Limpe os detalhes do chamado em edição
      this.limparIdadeParaEdicao()
      // Feche o modal de edição
      this.mostrarModalEdicao = false
    },
    limparIdadeParaEdicao () {
      // Limpe as propriedades da idade em edição
      this.idadeParaEdicao.idadeAnimal = ''
      this.varteste.id = ''
      // Limpe outras propriedades conforme necessário
    },
    excluirItem (item) {
      // Exiba um alerta de confirmação
      const confirmacao = window.confirm(
        'Tem certeza de que deseja excluir este item?'
      )

      // Se o usuário confirmar, prossiga com a exclusão
      if (confirmacao) {
        // Configuração da solicitação com o cabeçalho de autorização JWT
        const axiosConfig = {
          headers: {
            Authorization: `Bearer ${jwtToken}`
          }
        }
        // Solicitação DELETE para excluir o item da tabela
        api
          .delete(`chamados/deletar/${item.id}`, axiosConfig)
          .then(() => {
            // Remova o item excluído da lista de dados local
            const index = this.dados.findIndex((d) => d.id === item.id)
            if (index !== -1) {
              this.dados.splice(index, 1)
            }
            console.log('Item excluído com sucesso:', item)
          })
          .catch((error) => {
            console.error('Erro ao excluir item:', error)
          })
      }
    }
  }
})
</script>
