<template>
  <q-page>
    <q-page class="q-layout-login q-layout-login-inner" center>
      <div class="q-ma-md">
        <q-card class="q-pa-md">
          <q-card-title>
            Login Administração
          </q-card-title>
          <q-card-section>
            <q-form @submit="login">
              <q-input
                v-model="email"
                label="Email"
                type="email"
                outlined
                dense
              />
              <q-input
                v-model="password"
                label="Senha"
                type="password"
                outlined
                dense
              />
              <br>
              <q-btn
                type="submit"
                label="Login"
                color="primary"
                push
                dense
              />
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </q-page>
  </q-page>
</template>

<script>
import { api } from 'boot/axios'

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      // Chame uma função para autenticar o usuário com o back-end e obter o token JWT
      // Por exemplo:
      api.post('auth/login', { email: this.email, password: this.password })
        .then((response) => {
          const token = response.data.accessToken
          //   // Armazene o token no LocalStorage ou Vuex Store
          localStorage.setItem('jwtToken', token)
          this.$router.push({ name: 'dashboard' }) // Use o nome da rota da página do painel
          console.log(token)
        })
        .catch((error) => {
          // Trate erros de login
          console.log(error)
          window.alert('Usuario ou Senha Incorretos!!')
          this.email = ''
          this.password = ''
        })
    }
  }
}
</script>

<style scoped>
.q-layout-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Cor de fundo do layout de login */
}

.q-layout-login-inner {
  max-width: 100%; /* Largura máxima do conteúdo do layout de login */
}
</style>
